*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#app{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.albums-container{
    flex-basis: 100%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-self: stretch;
}

.album{
    width: calc(100% / 3);
    padding: 14px;
    text-align: center;
}

.album img{
    max-height: 150px;
    max-width: 150px;
    width: 100%;
    object-fit: cover;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}